
@{
    ViewBag.Title = "Notification";
}

<h2>Notification</h2>

<form>
    <font face="verdana" size="1px">
        Titulo
        <input type="text" />
        Mensagem
        <input type="text"/>
        <input type="submit" />
    </font>
</form>



